// *{
//     padding:0;
//     margin:0;
//     box-sizing: border-box;
// }
$color_primary : #1187d2;
$breakpoints: (
    phone-sm: 420px,
    phone: 767px,
    tablet: 768px,
    tablet-lg: 1024px,
    desktop: 1025px,
    desktop-lg: 1600px
);


// @for $i from 0 through 12{
//     $width:percentage(calc(1 / 12)*$i);
//     @if $i == 0 {
//               .s-#{$i}{
//                         display: none;
//               }
//     }
//     @else {
//               .s-#{$i}{
//                         flex: 0 0 $width;
//                         max-width: $width;
//               }
//     }        
// }
// @for $i from 0 through 12{
//     $width:percentage(calc(1 / 12)*$i);        
//               .s-o-#{$i}{
//                         margin-left: $width;
                        
//               }
          
// }

// @media screen and (min-width: 740px) and (max-width:1023px){
//     .wide{
//               width:644px
//     }
// }
@media screen and (min-width:375px) and (max-width:667px) {
    header .top_area .form-search , .form-profile{
        display: none;
       
    }
  
    .content{
        margin: 0 ;
        padding: 0;
        width: 100%;
        .content-list{
            .col{
                width: 100%;
               
                .item 
                {
                    &:hover .img_item .save{
                        display: none;
                    }
                    .proflie_post  
                    {
                        .people{
                            min-width: 100px;
                        }
                        .count{            
                            display: none;
                        }
                        .share:hover{
                            .sotical{
                                width: 100%;
                                position: fixed;
                                left: 0;
                                right: 0;
                                z-index: 1000;
                                .share-social{
                                    li a img {
                                        float: left;
                                        text-align: left;
                                        width: 100%;
                                    }
                                }
                            }
                           
                        }
                    }
                }
                
            }
            .col3{
                flex: 100% !important;
            }
        }
    }
    .menu{
        margin: 0 ;
        padding: 0;
        background-color: $color_primary;
        position: fixed;
        width: 100%;
        z-index: 1009;
        .menu-content{
            width: 100%;
            .col-6{
                width: 100%;
                color: white;
                font-size: 11px;
                margin-right: 0;
                float: none;
                display: inline-block;
                // padding: 20px 8px 12px 8px;
                // position: relative;
                color: #fff;
                // border-bottom: 1px white solid;
            }
        }
      
        
    }
    .search {
      
        padding-top: 60px;
        position: relative;
        .content_search{
            margin: 0;
            padding-right:0 !important;
            width: 100%;
            overflow: auto !important;
            white-space: nowrap;
            button{
                display: inline-block;
                &:focus-within .search_drop{
                    width: 100%;
                    position: fixed;
                    left: 0;
                    right: 0;
                    bottom: -15px;
                    z-index: 1000;
                    ul li:first-child {
                        text-align: center;
                       
                    }
                }
            }
            
        }
    }
    
   .content-list{
      
        width: 100%;
        .col .col3{
            width: 100%;
        }
   }
   .content .des{
    margin: 0px 0px;
   }
   footer{
    display: none;
   }
   .second_header{
    display: none;
   }
}
@media screen and (min-width:667px) and (max-width:769px) {
    header .top_area .form-search , .form-profile{
        display: none;
       
    }
  
    .content{
        margin: 0 ;
        padding: 0;
        width: 100%;
        .content-list{
            .col{
                width: 45%;
               
                .item 
                {
                    position: relative;
                    .item .img_item img{
                        text-align: left;
                    }
                    &:hover .img_item .save{
                        display: none;
                    }
                    .proflie_post  
                    {
                        .people{
                            min-width: 100px;
                        }
                        .count{            
                            display: none;
                        }
                        .share:hover{
                            .sotical{
                                width: 100%;
                                position: fixed;
                                left: 0;
                                right: 0;
                                z-index: 1000;
                                .share-social{
                                    li a img {
                                        float: left;
                                        text-align: left;
                                        width: 30%;
                                    }
                                }
                            }
                           
                        }
                    }
                }
                
            }
            .col3{
                flex: 0 45% !important;
                
            }
        }
    }
    .menu{
        margin: 0 ;
        padding: 0;
        background-color: $color_primary;
        position: fixed;
        width: 100%;
        z-index: 1009;
        .menu-content{
            width: 100%;
            .col-6{
                width: 40%;
                color: white;
                font-size: 11px;
                
                float: none;
                display: inline-block;
                // padding: 20px 8px 12px 8px;
                position: relative;
                color: #fff;
                // border-bottom: 1px white solid;
            }
        }
      
        
    }
    .search {
      
        padding-top: 60px;
        position: relative;
        .content_search{
            margin: 0;
            padding-right:0 !important;
            width: 100%;
            overflow: auto !important;
            white-space: nowrap;
            button{
                display: inline-block;
                &:focus-within .search_drop{
                    width: 100%;
                    position: fixed;
                    left: 0;
                    right: 0;
                    bottom: -15px;
                    z-index: 1000;
                    ul li:first-child {
                        text-align: center;
                       
                    }
                }
            }
            
        }
    }
    
   .content-list{
      
        width: 100%;
        .col .col3{
            width: 100%;
        }
   }
   .content .des{
    margin: 0px 0px;
   }
   footer{
    display: none;
   }
   .second_header{
    display: none;
   }
}

// @media screen and (min-width:780px) and (max-width:2400px){

    
// }
// @media screen and (min-width:740px) {
//     .row{
//               margin-left:-8px;
//               margin-right:-8px;
//     }
//     .col{
//               padding-left: 8px;
//               padding-right: 8px;
//     }
//     @for $i from 1 through 12{
//               .wide .m-#{$i}{
//                         display: block;
//               }
//     }
//     @for $i from 0 through 12{
//               $width:percentage(calc(1 / 12)*$i);
//               @if $i == 0 {
//                         .m-#{$i}{
//                                   display: none;
//                         }
//               }
//               @else {
//                         .m-#{$i}{
//                                   flex: 0 0 $width;
//                                   max-width: $width;
//                         }
//               }        
//     }
//     @for $i from 0 through 12{
//               $width:percentage(calc(1 / 12)*$i);        
//                         .m-o-#{$i}{
//                                   margin-left: $width;
                                  
//                         }
                    
//     }
// }
// @media screen and (min-width: 1113px) {
//     .row{
//               margin-left: -12px;
//               margin-right: -12px;
//     } 
//     .col{
//               padding-left:12px;
//               padding-right:12px;
//     } 
// }

// @media screen and (min-width:1024px) {
//     // .wide{
//     //           width:984px;
//     // }
//     .wide .row{
//               margin-left:-12px;
//               margin-right:-12px;
//     }
//     .wide .col{
//               padding-left: 12px;
//               padding-right: 12px;
//     }
//     @for $i from 1 through 12{
//               .wide .l-#{$i}{
//                         display: block;
//               }
//     }
//     @for $i from 0 through 12{
//               $width:percentage(calc(1 / 12)*$i);
//               @if $i == 0 {
//                         .wide .l-#{$i}{
//                                   display: none;
//                         }
//               }
//               @else {
//                         .wide .l-#{$i}{
//                                   flex: 0 0 $width;
//                                   max-width: $width;
//                         }
                        
//               }        
//     }
//     @for $i from 0 through 12{
//               $width:percentage(calc(1 / 12)*$i);        
//                         .l-o-#{$i}{
//                                   margin-left: $width;
                                  
//                         }
                    
//     }
// }
